body {
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

p {
  font-size: 18px;
  color: rgb(13, 13, 13);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(240, 10, 10);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}