body {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}
#bulbImage {
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#bulbImage:hover {
    color:#333;
  transform: scale(1.1);
}
