button {
  background-color: #5b4caf; 
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease; 
  margin-left: 400px;
}

button:hover {
  background-color: rgb(236, 0, 39); 
  transform: scale(1.1);
}
