body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; 
    margin: 40px;
    color: #004d40; 
}

h1 {
    text-align: center;
    color: #078587; 
    font-size: 2.8rem;
    margin-bottom: 30px;
    cursor: default;
}

h1:hover {
    color: #154efa;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1.5px solid #80cbc4; 
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #004d40; 
    outline: none;
    box-shadow: 0 0 8px rgba(0, 77, 64, 0.7); 
}
.signup {
    width: 100%;
    padding: 12px 0;
    background-color: #2bf7df; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color rrgb(46, 27, 253), transform 0.2s ease, box-shadow 0.3s ease;
}

.signup:hover {
    background-color: #04f1c9;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(1, 40, 34, 0.6);
     font-size: 20px;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #00796b; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #004d40; 
    text-decoration: underline;
}
