
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: blue(255, 255, 255);
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
  
}
  button:hover {
    background-color: #45a049;
}
p {
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}


